<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--配置视图解析器，匿名Bean对象，他在IOC容器中可以不根据类的名字，直接调用，
         当在进行页面跳转的时候可以自动把视图解析器中的前后缀加到跳转的路径中
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置访问路径的前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!--配置访问路径的后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--开启注解驱动-->
    <mvc:annotation-driven/>

    <!--允许引入静态资源-->
    <!--允许访问项目中的js、css、图片、视频文件等等-->
    <mvc:default-servlet-handler/>

</beans>